-# = form.file_field :image, class: "image"
= form.text_field :title, placeholder: "title" , class: "title"
= form.text_area :body, placeholder: "body" , rows: "10"
= form.submit "SEND", class: "btc"
