-# .contents.row
-#   - @articles.each do |article|
-#     = render partial: "article", locals: { article: article }
= render "layouts/side"
.contents.row
  %p.upper
    -# = @nickname
    最新投稿一覧
  %br

  - @articles.each do |article|
    = render partial: "articles/article", locals: { article: article }