-# .contents.row
-#   - @articles.each do |article|
-#     = render partial: "article", locals: { article: article }

.contents.row
  %p.upper
    -# = @nickname
    さんの投稿一覧

  ここに紹介文を載せられれば、OK!

  - @articles.each do |article|
    = render partial: "articles/article", locals: { article: article }