= render "layouts/side"
.contents.row
  .container
    .container-main
      = form_with(model: @article, local: true, class: "input-form") do |form|
        %h3.head
          前書きを投稿する
        = render partial: "form", locals: { form: form }
  