<div class="contents row">
  <div class="container">
    <div class="container-main">
      <%= form_with(model: @tweet, local: true, class: "input-form") do |form| %>
      <h3 class="head">
        編集する
      </h3>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
    </div>
  </div>
</div>