= render "layouts/side"
.contents.row
  %br
  %h1 説明書
  %br
  .explain
    .explain__one
      .explain__one--title
        ユーザー登録なしで、ご覧頂けるページ
      %br
      .explain__one--box
        %ul
          %li
            ・小説閲覧
          %li
            ・活動報告閲覧
          %li
            ・検索機能の利用
  .explain
    .explain__one
      .explain__one--title
        ユーザー登録が必要な機能、ページ
      %br
      .explain__one--box
        %ul
          %li
            ・小説投稿
          %li
            ・活動報告投稿
          %li
            ・活動報告に対するコメント