= render "layouts/side"
.contents.row
  %br
  %h1 説明書
  %br
  .explain
    .explain__one
      .explain__one--title
        ユーザー登録なしで、ご覧頂けるページ
      %br
      .explain__one--box
        %ul
          %li
            ・小説閲覧
          %li
            ・活動報告閲覧
          %li
            ・検索機能の利用
  .explain
    .explain__one
      .explain__one--title
        ユーザー登録が必要な機能、ページ
      %br
      .explain__one--box
        %ul
          %li
            ・小説投稿
          %li
            ・活動報告投稿
          %li
            ・活動報告に対するコメント
  .explain
    .explain__one
      .explain__one--title
        小説の投稿方法
      %br
      .explain__one--box
        %ul
          %li
            %p ①ユーザー登録・ログイン後に、
            %p 　「マイページ」にアクセス
          %li
            %p ②「小説投稿」をクリック
          %li
            %p ③タイトル・本文（小説の前書き、または説明文）を入力し、
            %p 　投稿ボタンを押す。
          %li
            %p ④タイトルや前書き・説明文の内容を確認・修正をする。
            %p 　修正が必要ない場合、そのまま「ストーリーの作成」に進む。
            %p 　修正が必要な場合、タイトル・本文を修正後、投稿ボタンを押す。
          %li
            %p ⑤「ストーリーの作成」
            タイトル・本文を入力し、投稿ボタンを押す。
            %br
            %br
          %li
            %p 「小説の編集・削除」
            マイページで投稿済みの各小説の欄に、操作用ボタンを用意しているので、そちらをご利用下さい。
            %br
            %br
          %li
            %p 「ストーリーの編集・削除」
            マイページで投稿済みの各小説の欄に、編集用ボタンを用意しているので、そちらをクリック。
            %p 移動先ページにて、ストーリーの追加・及び編集・削除が可能となっております。
  .explain
    .explain__one
      .explain__one--title
        活動報告の投稿方法
      %br
      .explain__one--box
        %ul
          %li
            %p ①ユーザー登録・ログイン後に、
            %p 　「マイページ」にアクセス
          %li
            %p ②「活動報告投稿」をクリック
          %li
            %p ③タイトル・本文（小説の前書き、または説明文）を入力し、
            %p 　投稿ボタンを押す。
          %li
            %p 「活動報告の編集・削除」
            ログイン中に、投稿済みの各活動報告の各ページに、操作用ボタンを用意しているので、そちらをご利用下さい。
            %br
      .explain__one--box
        %ul
          %li
            %p 「コメントの投稿」
            %p ログイン中に、投稿済みの各活動報告の各ページに、コメント投稿用ボタンを用意しているので、そちらをご利用下さい。 
          %li