-# .contents.row
-#   - @articles.each do |article|
-#     = render partial: "article", locals: { article: article }
= render "layouts/side"
.contents.row
  %p.upper
    -# = @nickname
    ここにはタイトルが入る予定です

  - @novels.each do |novel|
    = render partial: "novels/novel", locals: { novel: novel }