.more-box
  .more-parts-one
  .text
    作者:
    %a.name-name{:href => "/users/#{@novel.user.id}"}
      = @novel.user.nickname
    %br
    %br
    %p.articleTitle= @novel.title
    %p= safe_join(@novel.body.split("\n"), tag(:br))
  