// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article_title {
  width:480px;
  padding: 10px;
  margin-bottom: 10px;
}
#article_body {
  width:480px;
  padding: 10px;
}

.articleTitle {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  margin: 0 auto 20px;
}

.inputArticle-form {
  width: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
// .table {
//   width: 600px;
//   height: 120px;
//   // background-color: white;
//   border: 1px solid gray;
//   // margin-top: 150px;
//   thead {
//     background-color: #f9f9f9;
//     tr{
//       // background-color: #f9f9f9;
//       .title {
//         width: 70%;
//         color: orange;
//         font-size: 18px;
//         font-weight: bold;
//         padding: 5px 5px 5px 20px;
//       }
//       .author {
//         background-color: pink;
//         padding: 5px;
//       }
//     }
//   }
//   tbody {
//     .secondRecord {
//       height: 20px;
//       &__category {
//         background-color: yellow;
//       }
//       &__link {
//         background-color: green;
//       }
//     }
//   }
//   .lastRecord {
//     &__base {
//       &--first {
//         background-color: yellowgreen;
//       }
//       &--second {
//         background-color: gray;

//       }
//     }
//   }
// }
