.more-parts__edit {
  background-color: rgb(210, 210, 210);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
#article_title {
  width:480px;
  padding: 10px;
  margin-bottom: 10px;
}
#article_body {
  width:480px;
  padding: 10px;
}

.articleTitle {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  margin: 0 auto 20px;
}

.inputArticle-form {
  width: 100%;
  // background-color: rgb(210, 210, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.showTable {
  width: 760px;
  margin: 10px auto;
  &__thead {
    &--tr {
      &__one {
        width: 390px;
        padding-left:20px;
      }
      &__two {
        width: 180px;
        text-align: right;
      }
      &__three {
        width: 60px;
        text-align: left;
      }
      &__four {
        width: 60px;
        text-align: center;
      }
    }
  }
}

.editTable {
  width: 600px;
  margin: 10px auto;
  &__thead {
    &--tr {
      &__one {
        width: 390px;
        padding-left:20px;
      }
      &__two {
        width: 180px;
        text-align: right;
      }
      &__three {
        width: 60px;
        text-align: left;
      }
      &__four {
        width: 60px;
        text-align: center;
      }
    }
  }
}

.listTable {
  width: 100%;
  &__thead {
    &--tr {
      &__title {
        background: linear-gradient(to bottom, #f9f9f9, rgb(223, 223, 223));
        padding: 5px 5px 5px 10px;
      }
      &__detail {
        background: linear-gradient(to bottom, #e8e8e8, rgb(191, 191, 191));
        padding: 5px 5px 5px 10px;
        width: 190px;
      }
    }
  }
}