.alert.alert-info {
  width: 100%;
  padding: 15px 0;
  background-color: rgb(14, 148, 146);
  opacity: 0.8;
  color: white;
}
.alert.alert-danger {
  width: 100%;
  padding: 15px 0;
  background-color: rgb(255, 144, 162);
  opacity: 0.8;
  color: white;
}