.explain {
  background-color: #f9f9f9;
  border: 3px double silver;
  padding: 20px;
  margin: 0 auto 20px;
  width: 520px;
  &__one {
    text-align: left;
    &--title {
      text-align: center;
    }
    &--box {
      text-align: left;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
      width: 470px;
    }
  }
}

.upper {
  font-size: 18px;
}
.postBt {
  padding: 2px 8px;
}

