.explain {
  background-color: #f9f9f9;
  border: 3px double silver;
  padding: 20px;
  margin: 0 auto 20px;
  width: 520px;
  &__one {
    text-align: left;
    &--title {
      text-align: center;
    }
    &--box {
      text-align: left;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
      width: 500px;
    }
  }
}

.upper {
  font-size: 18px;
}
.postBt {
  padding: 2px 8px;
}
.switchingSpace {
  display: flex;
  justify-content: right;
}
.switchingBlank {
  padding: 2px 8px;
  border-style: none;
  border-top:1px solid gray; 
  border-left:1px solid gray; 
  border-right:1px solid gray; 
  display: flex;
  justify-content: right;
  background-color: white;
}
.switchingBt {
  padding: 2px 8px;
  border-style: none;
  border-top:1px solid gray; 
  border-left:1px solid gray; 
  border-right:1px solid gray; 
  display: flex;
  justify-content: right;
  background: linear-gradient(to bottom, #f9f9f9, #dfdfdf);
}

