.novelMenu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.1em;
  &__one {
    background-color: white;
  } 
  &__two {
    width:20px;
  }
  &__three {
    width:50px;
  }
}

.prev {
  margin-right: 20px;
}