body {
  text-align: center;
  z-index: 4;
  background-color: #f9f9f9;
}
.main {
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  background-color: white;
  max-width: 980px;
  margin: 0 auto;
}
.base {
  padding-top: 20px;
  width: 100%;
  min-height: 90vh;
  display: flex;
}


header {
  margin: 0 auto;
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  max-width: 980px;
}
.header-row {
  height: 70px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  .titleBox  {
    border-radius: 50%;
    border: 1px solid rgb(97, 115, 250);
    height:30px;
    width: 30px;
    background: linear-gradient(to bottom, #1399ff, rgb(1, 136, 208));
    .title-name {
      font-size: 30px;
      color:rgb(21, 187, 252);
      .title-logo {
        color:rgb(21, 187, 252);
      }
    }
  }
}

.side {
  width: 180px;
  height: calc(100vh - 50px);
  background-color: #f9f9f9;
  border: 1px solid silver;
  margin: 0 0 20px 20px;
  &__top {
    text-align: left;
    background: linear-gradient(to bottom, #1399ff, rgb(1, 136, 208));
    opacity: 0.9;
    padding: 2px 0;
    border: 1px solid silver;
    color: white;
    text-align: center;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #333333;
    .latest-novel {
      text-align: center;
    }
  }
  &__center {
    padding: 8px;
    font-size: 14px;
    &--box {
      margin-bottom: 5px;
      padding: 5px;
      background-color: white;
      border: 1px solid rgb(203, 203, 203);
      text-align: center;
    }
  }
}

#keyword {
  text-align: center;
}

.search-form {
  text-align: center;
  .search-input {
    width:140px;
    margin: 10px 0;
  }
  .search-btn {
    padding: 0 10px;
  }
}

.more-box {
  width:70vw;
  margin: 0 auto 100px;
  background-color: rgba(255, 255, 255, 0.8);
  background-size:contain; 
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
}

.post-user {
  padding-left: 3px;
}

.more_list {
  padding: 0 10px;
  list-style: none;
  display: flex;
  position: absolute;
  right: 0px;
}

.more_list__details {
  margin:5px;
  padding: 5px;
  background-color: whitesmoke;
  border:1px solid lightgray;
  border-radius: 4px;
}

.more {
  background-size:contain; 
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
}
.created {
  font-size: 13px;
  color: #333;
}

.text {
  margin-top:5px;
  padding:20px;
  text-align: left;
  color: #333;
}

.post {
  margin:5px;
  padding: 5px;
  background-color: whitesmoke;
  border:1px solid lightgray;
  border-radius: 4px;
}

.post:hover{
  opacity: 0.8;
}

.user-nav {
  color: blue;
  text-align: right;
}

.new-action {
  display: flex;
}

.name {
  display: flex;
  align-items: center;
}

.name-box {
  display: flex;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 2px 5px;
}

.name-name {
  height:20px;
}

.circle {
  width:30px;
  height:30px;
  border-radius: 20px;
  border: 2px solid gray;
  margin:0 10px;
  display: none;
}

a {
  text-decoration: none;
}

a:hover{
	opacity:0.6;
}

a:visited {
  text-decoration: none;
}

.contents{
  height: 100%;
  margin: 0 auto 40px;
}

.container {
  width:100%;
}

.container-in {
  width: 600px;
  margin: 0 auto 30px;
  background-color: white;
  border:1px solid darkgray;
  padding-top: 20px;

}

.container-main {
  text-align: center;
  min-height: 78vh;
}

.comment {
  text-align: left;
  margin: 0 0 20px 20px;
}

#comment_text {
  width:80%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.upper {
  margin:20px 0;
}

.bt {
  width: 70px;
  height: 20px;
  position:absolute;
  top: 2px;
  right: 60px;
  border-style: none;
  background-color: white;
  color:  gray;
}

.btb {
  width: 70px;
  border-style: none;
  background-color: white;
  color:  gray;
}

.btc {
  width: 500px;
  margin: 20px 0;
}

.image {
  margin: 0 0 10px 0;
  width: 500px;
}

.content_post {
  height: 300px;
  width: 60vw;
  background-color: pink;
}

.second-line {
  height: 40px;
  max-width: 980px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #1399ff, rgb(1, 136, 208));
  border-top: 1px solid rgb(1, 112, 216);
  border-bottom: 2px solid rgb(2, 98, 189);
  display: flex;
  align-items: center;
  padding:0 13px;
  &__info {
    display: flex;
    padding: 0 10px;
    &--box {
      padding: 10px;
      width: 165px;
      border-left: 1px solid #2f2f2f;
      border-right: 1px solid #cecece;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.fas{
  color: white;
}

.second-line__bt {
  color: white;
  font-size: 15px;
}

.post-profile-icon{
  height: 400px;
}

.line {
  border-top: 1px dashed gray;
  width: 720px;
  margin: 0 auto;
}

.createForm {
  width: 50px;
}
.yah {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.success {
  height:52vh;
  padding: 200px 0 0px;
  font-size: 20px;
}

.btn {
  margin-top: 40px;
  font-size: 16px;
}

form input[type="submit"]:hover {
  opacity: 0.8;
}

.card {
  width:500px;
  height: 400px;
  border: 1px solid lightgray;
}

#tweet_title {
  width:480px;
  padding: 10px;
  margin-bottom: 10px;
}
#tweet_text {
  width:480px;
  padding: 10px;
}

textarea {
  white-space: pre-line;
}

.head {
  margin:20px 0;
  font-size: 20px;
}

.footer {
  height: 70px;
  box-sizing: border-box;
}

.h2{
  font-size: 20px;
  padding-bottom: 30px;
}
#user_nickname {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

#user_email {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

#user_password {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

#user_password_confirmation {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

.ign{
  width:100px;
  height:40px;
  margin-bottom: 20px;
  padding: 5px;
}

.table {
  width: 700px;
  height: 120px;
  border: 1px solid gray;
  thead {
    tr{
      .title {
        width: 70%;
        color: orange;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 5px 5px 20px;
        background: linear-gradient(to bottom, #f9f9f9, rgb(223, 223, 223));
      }
      .author {
        background: linear-gradient(to bottom, #e8e8e8, rgb(191, 191, 191));
        padding: 5px 5px 5px 10px;
      }
    }
  }
  tbody {
    .secondRecord {
      height: 20px;
      &__link {
        background: linear-gradient(to bottom, #f7f7f7, rgb(225, 225, 225));
      }
    }
  }
  .lastRecord {
    &__base {
      &--first {
        background-color: yellowgreen;
      }
      &--second {
        background-color: gray;
      }
    }
  }
}

.linkBottun {
  z-index: 1;
  height: 80px;
  width: 80px;
  background-color: pink;
  bottom: 10px;
  left: 10px;
  position: fixed;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}