body {
  text-align: center;
  // position: relative;
  z-index: 4;
  // max-width: 980px;
  
  background-color: #f9f9f9;
  // border-right: 1px solid #3f3f3f;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 0 auto;
}
.main {
//   display: flex;
//   justify-content: center;
//   align-items: center;
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  background-color: white;
  max-width: 980px;
  margin: 0 auto;
}
.base {
  // margin: 0 auto;
  // position: absolute;
  // top: 50px;
  padding-top: 20px;
  width: 100%;
  min-height: 90vh;
  // background-color: rgb(253, 249, 236);
  display: flex;
  // margin: 0 auto;
}


header {
  margin: 0 auto;
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  max-width: 980px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 5;
}
.header-row {
  height: 70px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  // border-bottom: 1px solid rgb(240, 206, 157);
  .titleBox  {
    border-radius: 50%;
    border: 1px solid rgb(97, 115, 250);
    height:30px;
    width: 30px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: rgb(129, 225, 255);
    background: linear-gradient(to bottom, #1399ff, rgb(1, 136, 208));
    .title-name {
      font-size: 30px;
      color:rgb(21, 187, 252);
      
      .title-logo {
        // font-size: 24px;
        color:rgb(21, 187, 252);
      }
    }
  }
}

.side {
  width: 180px;
  height: calc(100vh - 50px);
  background-color: #f9f9f9;
  border: 1px solid silver;
  margin: 0 0 20px 20px;
  // padding: 10px;
  // text-align: left;
  &__top {
    text-align: left;
    // background-color: white;
    background: linear-gradient(to bottom, #1399ff, rgb(1, 136, 208));
    // background: linear-gradient(to bottom, #f7fbff, rgb(201, 205, 203));
    padding: 2px 0;
    border: 1px solid silver;
    color: white;
    text-align: center;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #333333;
    .latest-novel {
      text-align: center;
    }
  }
  &__center {
    padding: 8px;
    text-align: left;
    font-size: 14px;
    &--box {
      margin-bottom: 5px;
      padding: 5px;
      background-color: white;
      border: 1px solid rgb(203, 203, 203);
    }
  }
  // .sideBord {
  //   border: 1px solid #333333;
  // }
  // .wall {
  //   border-bottom: 1px solid #c2c2c2;
  // }
}

#keyword {
  text-align: center;
}

.search-form {
  display: flex;
  padding: 0 0 0 70px;
}

.more-box {
  width:70vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  // border-top:1px solid darkgray;
  // border-left:1px solid darkgray;
  // border-right:1px solid darkgray;
  // border-radius: 3px;
  background-size:contain; 
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
}

// .more-parts-one {
//   display: flex;
//   align-items: center;
//   padding: 5px;
//   height:35px;
// }

.post-user {
  padding-left: 3px;
}

.more_list {
  padding: 0 10px;
  list-style: none;
  display: flex;
  position: absolute;
  right: 0px;
}



.more_list__details {
  margin:5px;
  padding: 5px;
  background-color: whitesmoke;
  border:1px solid lightgray;
  border-radius: 4px;
}

.more {
  // width: 600px;
  // height: 400px;
  background-size:contain; 
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
}
.created {
  font-size: 13px;
  color: #333;
}

.text {
  margin-top:5px;
  padding:20px;
  text-align: left;
  color: #333;
}

.post {
  margin:5px;
  padding: 5px;
  background-color: whitesmoke;
  border:1px solid lightgray;
  border-radius: 4px;
}

.post:hover{
  opacity: 0.8;
}

.user-nav {
  color: blue;
  text-align: right;
}

.new-action {
  display: flex;
}

.name-box {
  display: flex;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 2px 5px;
}

.name {
  display: flex;
  align-items: center;
}

.name-name {
  height:20px;
}
.circle {
  width:30px;
  height:30px;
  border-radius: 20px;
  border: 2px solid gray;
  margin:0 10px;
  display: none;
}

a {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
  // color: rgb(28, 168, 255);
}

.contents{
  height: 100%;
  margin: 0 auto 40px;
}

.container {
  width:100%;
}

.container-in {
  width: 600px;
  margin: 0 auto 30px;
  background-color: white;
  border:1px solid darkgray;
  padding-top: 20px;

}

.container-main {
  text-align: center;
  height: 78vh;
}

.comment {
  text-align: left;
  margin: 0 0 20px 20px;
}

#comment_text {
  width:80%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.upper {
  margin:20px 0;
}

.bt {
  width: 70px;
  height: 20px;

  position:absolute;
  top: 2px;
  right: 60px;
  border-style: none;
  background-color: white;
  color:  gray;
}

.btb {
  width: 70px;
  border-style: none;
  background-color: white;
  color:  gray;
}

.btc {
  width: 500px;
  margin: 20px 0;
}

.image {
  margin: 0 0 10px 0;
  width: 500px;
}

.content_post {
  height: 300px;
  width: 60vw;
  background-color: pink;
}

.second-line {
  height: 40px;
  max-width: 980px;
  box-sizing: border-box;
  // background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
  // background: linear-gradient(5deg, #bdc3c7,rgb(21, 187, 252));
  // background: #204e99;
  // background: -moz-linear-gradient(top, #FFC778, #FFF);
  // background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #1399ff, rgb(1, 136, 208));
  // background-color:rgb(21, 187, 252);
  border-top: 1px solid rgb(1, 112, 216);
  border-bottom: 2px solid rgb(2, 98, 189);
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding:0 13px;
  // margin: 0 20px;
  // position: fixed;
  // top: 50px;
  // left: 0;
  // right: 0;
  // z-index: 4;
  &__info {
    display: flex;
    padding: 0 10px;
    &--box {
      padding: 10px;
      width: 165px;
      border-left: 1px solid #2f2f2f;
      border-right: 1px solid #cecece;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  // &__first {
  //   padding: 6px 20px;
  //   margin: 0 10px;
  //   box-sizing: border-box;
  //   background-color: rgb(86, 207, 255);
  //   border: 1px solid rgb(1, 112, 216);
  //   border-bottom: 1px solid rgb(1, 75, 145);
  // }
  // &__second {
  //   padding: 10px;
  //   margin: 0 10px;
  // }
  }
}

.fas{
  // margin-right:20px;
  color: white;
}

.second-line__bt {
  color: white;
  font-size: 15px;
}




.post-profile-icon{
  height: 400px;

}

.line {
  border-top: 1px dashed gray;
}

.yah {
  height:25px;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.success {
  height:52vh;
  padding: 200px 0 0px;
  font-size: 20px;

}

.btn {
  margin-top: 40px;
  font-size: 16px;
}

form input[type="submit"]:hover {
  opacity: 0.8;
}

.card {
  width:500px;
  height: 400px;
  border: 1px solid lightgray;
}

#tweet_title {
  width:480px;
  padding: 10px;
  margin-bottom: 10px;
}

#tweet_text {
  width:480px;
  padding: 10px;
}

textarea {
  white-space: pre-line;
}

.head {
  margin:20px 0;
  font-size: 20px;
}

.footer {
  height: 70px;
  box-sizing: border-box;
}



.h2{
  font-size: 20px;
  padding-bottom: 30px;
}
#user_nickname {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

#user_email {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

#user_password {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

#user_password_confirmation {
  width:300px;
  height:25px;
  margin-bottom: 20px;
}

.ign{
  width:100px;
  height:40px;
  margin-bottom: 20px;
  padding: 5px;
}

.table {
  width: 700px;
  height: 120px;
  // background-color: white;
  border: 1px solid gray;
  // margin-top: 150px;
  thead {
    // background: linear-gradient(to bottom, #f9f9f9, rgb(240, 240, 240));
    // background: linear-gradient(to bottom, #f9f9f9, rgb(223, 223, 223));
    tr{
      // background-color: #f9f9f9;
      .title {
        width: 70%;
        color: orange;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 5px 5px 20px;
        background: linear-gradient(to bottom, #f9f9f9, rgb(223, 223, 223));
      }
      .author {
        background: linear-gradient(to bottom, #e8e8e8, rgb(191, 191, 191));
        padding: 5px 5px 5px 10px;
      }
    }
  }
  tbody {
    .secondRecord {
      height: 20px;
      // &__category {
      //   background-color: yellow;
      // }
      &__link {
        background: linear-gradient(to bottom, #f7f7f7, rgb(225, 225, 225));
      }
    }
  }
  .lastRecord {
    &__base {
      &--first {
        background-color: yellowgreen;
      }
      &--second {
        background-color: gray;

      }
    }
  }
}

.linkBottun {
  z-index: 1;
  height: 80px;
  width: 80px;
  background-color: pink;
  bottom: 10px;
  left: 10px;
  position: fixed;
  border-radius: 50%;
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}