.more-box__review {
  min-width:70vw;
  margin: 0 auto 100px;
  background-color: rgba(255, 255, 255, 0.8);
  background-size:contain; 
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
  border: 3px double gray;
}