.more-box__review {
  width:700px;;
  margin: 0 auto 30px;
  background-color: rgba(255, 255, 255, 0.8);
  background-size:contain; 
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
  border: 3px double gray;
}
.tweetTitle {
  font-size: 17px;
  border-bottom: 1px solid gray;
}
.tweetDate {
  text-align: right;
  color: gray;
  font-size: 14px;
}
.tweetBody {
  font-size: 16px;
  margin-top: 10px;
}